# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Virtual Env)
.env
.venv/
venv/
env/

# Cấu hình Editor/IDE
.vscode/
.idea/

# Bỏ qua các file ảnh test dung lượng lớn, chỉ giữ lại file mẫu nhẹ (nếu cần)
test-images/*.jpg
test-images/*.png
!test-images/.gitkeep

# File hệ thống
.DS_Store
